<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        button,
        input {
            display: block;
            margin-bottom: 10px;
        }

        #alert {
            display: none;
            color: red;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <form id="password-reset-form" method="post" action="{{ reset_pasword_url }}">
        <div id="alert"></div>
        <input type="hidden" name="token" value="{{ token}}">
        <input type="hidden" name="user_type" value="{{ user_type }}">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />

        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" />

        <button type="submit">Reset password</button>
    </form>

    <script>
        // 1. Reference the elements on the page
        var passwordResetFormEl = document.getElementById("password-reset-form");
        var alertEl = document.getElementById("alert");
        var passwordEl = document.getElementById("password");
        var passwordVerifyEl = document.getElementById("confirm-password");

        // 2. Reset the user's password
        function formResetPassword(e) {
            // Prevent the form's default behavior
            e.preventDefault();
            // Reset the alert to empty
            setAlert();
            // Verify that the passwords match
            var password = passwordEl.value;
            var passwordVerify = passwordVerifyEl.value;
            if (password !== passwordVerify) {
                return setAlert("Passwords must match.");
            } else {
                //continue submitting
                e.currentTarget.submit();
            }
        }

        // Set the alert element to show the message
        function setAlert(message) {
            alertEl.innerText = message;
            alertEl.style.display = message ? "block" : "none";
        }

        // 3. Add an event listener for the password reset form submit
        passwordResetFormEl.addEventListener("submit", formResetPassword);
    </script>
</body>

</html>