<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>
        Click the below link to reset password.
    </p>
    <p>
        <a href="{{ reset_password_url }}?user_type={{ user_type }}&token={{ token }}">
            {{ reset_password_url }}?user_type={{ user_type }}&token={{ token }}
        </a>
    </p>
    <br />
    <p>Cheers!</p>
</body>

</html>